@model App.Areas.SalaryManagement.Models.Salary



<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>




<div class="row">
    <div class="col-md-6 bg-white rounded shadow-lg">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EmployeeId" class="control-label"></label>
                <select id="EmployeeId" asp-for="EmployeeId" class="form-control"
                    asp-items="ViewBag.EmployeeId" disabled></select>
            </div>
            <div class="form-group">
                <label asp-for="BasicSalaryId" class="control-label"></label>
                <select asp-for="BasicSalaryId" class ="form-control" asp-items="ViewBag.BasicSalaryId" disabled></select>
                @* <select id="BasicSalaryId" asp-for="BasicSalaryId" class ="form-control" asp-items='@(new
                    SelectList(string.Empty, "BasicSalaryId", "BasicSalaryName"))'></select> *@
                @* <select id="BasicSalaryId" asp-for="BasicSalaryId" class="form-control"></select> *@

            </div>
            <div class="form-group">
                <label asp-for="AllowanceSalaryId" class="control-label"></label>
                <select asp-for="AllowanceSalaryId" class="form-control"
                    asp-items="ViewBag.AllowanceSalaryId" disabled></select>
                @* <select id="AllowanceSalaryId" asp-for="AllowanceSalaryId" class="form-control"></select> *@
            </div>
            <div class="form-group">
                <label asp-for="BonusSalaryId" class="control-label"></label>
                <select asp-for="BonusSalaryId" class="form-control" asp-items="ViewBag.BonusSalaryId"></select>
            </div>
            <div class="form-group">
                <label asp-for="OvertimeSalaryId" class="control-label"></label>
                <select asp-for="OvertimeSalaryId" class="form-control" asp-items="ViewBag.OvertimeSalaryId" disabled></select>
            </div>
            
            <div class="form-group">
                <label asp-for="NumberOfSession" class="control-label"></label>
                <input asp-for="NumberOfSession" class="form-control" />
                <span asp-validation-for="NumberOfSession" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SalaryDate" class="control-label"></label>
                <input asp-for="SalaryDate" class="form-control" id="date"/>
                <span asp-validation-for="SalaryDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class="mx-5 content-information mt-5">
    <a asp-action="Index">
        <i class="far fa-arrow-alt-circle-left"></i>
        Back
    </a>
</div>

<script src="/vendor/jquery/jquery.min.js"></script>
<script>
  $('#date').val(new Date().toJSON().slice(0,10));

</script>


@* <script type="text/javascript">
    $(document).ready(function () {
        GetBasicSalaryByEmpId();
        GetAllowanceSalaryByEmpId();
    })

    $("#EmployeeId").change(function () {
        GetBasicSalaryByEmpId();
        GetAllowanceSalaryByEmpId();
    });


    var GetBasicSalaryByEmpId = function () {
        $.ajax({
            url: '@Url.Action("GetBasicSalaryByEmpId","Salary")',
            type: 'GET',
            data: {
                EmployeeId: $('#EmployeeId').val(),
            },
            success: function (data) {


                $('#BasicSalaryId').find('option').remove()
                $(data).each(
                    function (index, item) {


                        $('#BasicSalaryId').append('<option value="' + item.basicSalaryId + '">' + item.basicSalaryName + '</option>')
                    });

            },
            error: function () {
            }
        });
    }


    var GetAllowanceSalaryByEmpId = function () {
        $.ajax({
            url: '@Url.Action("GetAllowanceSalaryByEmpId","Salary")',
            type: 'GET',
            data: {
                EmployeeId: $('#EmployeeId').val(),
            },
            success: function (data) {
                
                $('#AllowanceSalaryId').find('option').remove()
                $(data).each(
                    function (index, item) {

                        $('#AllowanceSalaryId').append('<option value="' + item.allowanceSalaryId + '">' + item.allowanceSalaryName + '</option>')
                    });
            },
            error: function () {

            }
        });
    }



</script> *@
