@model App.Areas.SalaryManagement.Models.Salary

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Salary</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EmployeeId" class="control-label"></label>
                <select asp-for="EmployeeId" class ="form-control" asp-items="ViewBag.EmployeeId"></select>
            </div>
            <div class="form-group">
                <label asp-for="BasicSalaryId" class="control-label"></label>
                <select asp-for="BasicSalaryId" class ="form-control" asp-items="ViewBag.BasicSalaryId"></select>
            </div>
            <div class="form-group">
                <label asp-for="AllowanceSalaryId" class="control-label"></label>
                <select asp-for="AllowanceSalaryId" class ="form-control" asp-items="ViewBag.AllowanceSalaryId"></select>
            </div>
            <div class="form-group">
                <label asp-for="BonusSalaryId" class="control-label"></label>
                <select asp-for="BonusSalaryId" class ="form-control" asp-items="ViewBag.BonusSalaryId"></select>
            </div>
            <div class="form-group">
                <label asp-for="OvertimeSalaryId" class="control-label"></label>
                <select asp-for="OvertimeSalaryId" class ="form-control" asp-items="ViewBag.OvertimeSalaryId"></select>
            </div>
            <div class="form-group">
                <label asp-for="BonusLevel" class="control-label"></label>
                <input asp-for="BonusLevel" class="form-control" />
                <span asp-validation-for="BonusLevel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumberOfSession" class="control-label"></label>
                <input asp-for="NumberOfSession" class="form-control" />
                <span asp-validation-for="NumberOfSession" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SalaryDate" class="control-label"></label>
                <input asp-for="SalaryDate" class="form-control" />
                <span asp-validation-for="SalaryDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

