@{
    ViewData["Title"] = "Home Page";
    Layout = null;
}

<partial name="_AlertMessage" />
<partial name="SBAdmin/_Styles" />

<div class="text-center">
    <h1 class="display-4">Xin chào</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <ul class="nav navbar-nav navbar-right">
        <li class="nav-item">
            <a class="nav-link" asp-area="Identity" asp-controller="Account" asp-action="Register">Đăng ký</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-area="Identity" asp-controller="Account" asp-action="Login">Đăng nhập</a>
        </li>
    </ul>

</div>

